.nav {
    padding-inline: 1rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-block: 1rem;
    box-shadow: 0 6px 6px rgb(0 0 0 / 5%);
    section {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
}
